<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">>

<link rel="stylesheet" href="../static/css/style2.css">
<head>
    <meta charset="utf-8">

</head>
<body th:fragment = "header">
<div class="main" style="height: 250px;
         width: 100%;">
    <nav class="notion_header">
        <div class="usermenu" style="position: absolute; width: 500px; right: 13%; margin: 0 -150px 0 0; font-size: 15px;">
            <nav id="sub-menu">
                <ul class="dep1">
                    <li class="usermenuli" th:if = "${session.user == null && session.admin == null}"><a class="subusermenuli" th:href="@{/user/join}">회원가입</a>
                    </li>
                    <li th:if = "${session.user == null && session.admin == null}" class="usermenuli"><a class="subusermenuli" th:href="@{/login}">로그인</a>
                    </li>

                    <li class="usermenuli" th:if = "${session.user != null}"><a class="subusermenuli" th:href="@{/userlogout}">로그아웃</a></li>
                    <li class="usermenuli" th:if = "${session.admin != null}"><a class="subusermenuli"  th:href="@{/adminlogout}">로그아웃</a></li>
                    </li>
                    <li class="usermenuli" th:if = "${session.user != null}" ><span class="subusermenuli" th:text = "${session.user.username}"></span></li>
                    <li class="usermenuli" th:if = "${session.admin != null}" ><a class="subusermenuli" th:href="@{/adminUser}"><span th:text = "${session.admin.username}"></span></a></li>

                    <li class="usermenuli" th:if = "${session.user != null}"><a class="subusermenuli" href="#">마이페이지</a>
                        <ul class="sub-menu2">
                            <li class="usermenuli2"><a class="subusermenu" th:href="@{/orderlist}" >주문목록</a></li>
                            <li class="usermenuli2"><a class="subusermenu"  th:href="@{/membercheck}">개인정보</a></li>
                            <li class="usermenuli2"><a class="subusermenu" th:href="@{/cart}">장바구니</a></li>
                        </ul>
                    </li>
                    <li class="usermenuli"><a class="subusermenuli" href="#">고객센터</a>
                        <ul class="sub-menu2">
                            <li class="usermenuli2"><a class="subusermenu" th:href="@{/notionmain}">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <a th:href="@{/}">
            <img src="../static/img/Logo.png" alt="모두의레시피"
                 style="display: block; margin: 0px auto;"
            ></a>
        <nav class="navigation" style="position: absolute; width: 900px; height:56px; left: 50%; margin: 0 0 0 -450px; left:450px;">
            <div id="nav">
                <ul class="menulist" style="position: relative; top: 15px; height:45px;">
                    <li class="menu"><a class="menu-a" th:href="@{/new}">New</a>

                    <li class="menu"><a class="menu-a" th:href="@{/best}">Best</a>

                    <li class="menu"><a class="menu-a" href="#"
                                        style="position: relative; right: 10px;"
                    >Creator</a>
                        <ul class=navsub id="creatorsub" style="width: 90px;">
                            <li><a class="menusubsub" th:href="@{/recipelist/백종원}">백종원</a></li>
                            <li><a class="menusubsub" th:href="@{/recipelist/이연복}">이연복</a></li>
                            <li><a class="menusubsub" th:href="@{/recipelist/레이먼킴}">레이먼킴</a></li>
                            <li><a class="menusubsub" th:href="@{/recipelist/이혜정}">이혜정</a></li>
                        </ul></li>
                    <li class="menu"><a class="menu-a" href="#">MENU</a>
                        <ul class="navsub" id="menusub">
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/koreanfood.png"><a class="menusubsub" th:href="@{/menu/한식}">한식</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/sushi.png"><a class="menusubsub" th:href="@{/menu/일식}">일식</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/steak.png"><a class="menusubsub" th:href="@{/menu/양식}">양식</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/jjajang.png"><a class="menusubsub" th:href="@{/menu/중식}">중식</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/dduk.png"><a class="menusubsub" th:href="@{/menu/분식}">분식</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/chicken.png"><a class="menusubsub" th:href="@{/menu/치킨}">치킨</a></li>
                            <li class="menusub"><img class="menusubsubimg" src="../static/img/pizza.png"><a class="menusubsub" th:href="@{/menu/피자}">피자</a></li>
                        </ul></li>
                    <li class="menu"><a class="menu-a" th:href="@{/meterialMain}">Material</a>
                        <ul class="navsub" id="materialsub">
                            <li>
                                <img class="menusubsubimg" src="../static/img/meat.png">
                                <a class="menusubsub" th:href="@{/meterialMain/정육}">정육</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/fish.png">
                                <a class="menusubsub" th:href="@{/meterialMain/수산}">수산|해산</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/noodle.png">
                                <a class="menusubsub" th:href="@{/meterialMain/면}">면|견과</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/fruits.png">
                                <a class="menusubsub" th:href="@{/meterialMain/과일}">과일</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/vegetable.png">
                                <a class="menusubsub" th:href="@{/meterialMain/채소}">채소</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/bread.png">
                                <a class="menusubsub" th:href="@{/meterialMain/베이커리}">베이커리</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/sauce.png">
                                <a class="menusubsub" th:href="@{/meterialMain/양념}">양념|오일</a>
                            </li>
                            <li>
                                <img class="menusubsubimg" src="../static/img/milk.png">
                                <a class="menusubsub" th:href="@{/meterialMain/계란}">계란|유제품</a>
                            </li>
                        </ul></li>
                </ul>
                <div class="searchboxdiv"   style="position:relative; width:250px; left:560px; bottom:35px;">
                    <input class="searchbox" type="text" placeholder="&nbsp오늘은 어떤 요리를 만들까요?" name="keyword">
                    <button class="searchbtn"  style="font-family: 'NanumSquareRound'; width: 32px; height: 32px; border: none; cursor: pointer;">
                        <img src="../static/img/button_search.png">
                    </button>
                </div>
            </div>
        </nav>
    </nav>
</div>


</body>
</html>