
<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/style2.css">
<link rel="stylesheet" href="../static/css/main.css">
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script th:src="@{../static/js/dataChange.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div id="body">

   <form id="datachange" method="post">
]       <input type="hidden" id="userId" th:value="${session.user.id}"/>
    <div style=" border-bottom:2px solid black;">
        <h1 style="font-family: 'NanumSquareRound';">회원정보수정</h1>
    </div>
    <div class="datachangediv">
        <table id="datachangetable">

            <tr>
                <td>이름</td>
                <td>
                    <span class="changetext" th:text="${session.user.name}"></span>
                </td>
            </tr>
            <tr>
                <td>아이디</td>
                <td>
                    <span class="changetext" th:text="${session.user.username}"></span>
            </tr>

            <tr>
                <td>변경 비밀번호</td>
                <td>
                    <input type="password" id="pwd1" name="password"   class="changetext"></td>
            </tr>
            <tr>
                <td>비밀번호 확인</td>
                <td>
                    <input type="password" id="pwd2" class="changetext"></td>
            </tr>




        </table>
    </div>
       <div class="datachangebuttondiv">

           <button type="button"  onclick="updatePwd();">비밀번호변경</button>

       </div>
    </form>

        </div>

    </div>


</div>
</body>
<script>


</script>
</html>