<!DOCTYPE html>
<html>
<head>
    <link href="style2.css" rel="stylesheet" type="text/css">
    <meta charset="EUC-KR">
    <title>Insert title here</title>
</head>
<body>
<div class="all_meter">

    <div class="inquiry">
        <div class="qnatitle">
            <h1 style="font-family: 'NanumSquareRound'; padding-top: 30px; border-bottom:2px solid black ">1:1문의</h1>
        </div>
        <div class="qnacontents">
            <table class="inquirytable">
                <tr>
                    <td class="qnatd">제목</td>
                    <td class="qnatitle" style="padding: 15px 0px 15px 20px;">아이디와 비밀번호가 생각나지 않아요  </td>
                </tr>
                <tr>
                    <td class="qnatd" style="vertical-align: top;">내용</td>
                    <td><input class="qnatext"></td>
                </tr>

            </table>
            <div class="qndsubmitbtndiv" style="text-align: center; padding-top: 40px;">
                <button class="changecanclebtn">확인</button>
            </div>
        </div>


    </div>
</div>

</body>
</html>